.button {
  font-size: 14px;
  text-decoration: none;
  padding: 9px 14px;
  font-weight: 500;
  background: none;
  border: 2px solid #1e58ff;
  text-align: center;
  color: #1e58ff;
  cursor: pointer;
}

.secondary {
  @extend .button;

  background-color: #1e58ff;
  color: white;
}