.navItem {
    display: inline-block;
    margin-right: 50px;
    list-style: none;

    &Link {
        text-decoration: none;
        color: #818181;
        font-size: 13px;

        
        &Active {
            font-weight: 700;
        }

    }
}

.navItemLink:active {
    font-weight: 700;
}